{{#allow 'ADMIN' 'EDITOR'}}
<div class="field">
	<label>{{t 'New enumeration'}}</label>
	<input class="add-enumeration"/>
	<button class="btn btn-success add-enumeration"><i class="fa fa-plus"></i></button>
</div>
{{/allow}}
<div class="collection"></div>