<div class="mask"></div>
<div class="modal">
	<span class="x">x</span>
	<div class="title">{{title}}</div>
	<div class="content">
		{{{html}}}
	</div>
	<div class="footer">
		<button class="btn btn-primary">{{t 'Exit'}}</button>
	</div>
</div>