.activityDiagram-view
	width 100%
	height 100%

.activityDiagram-view .svg-menu-right
	float right
	width 20%
	height 100%
	background-color #3C3C3C
	display block
	
.activityDiagram-view p
	font-size 1.2em
	padding 0.5em
	color white
	
.activityDiagram-view .item
	margin 0.3em
	padding 0.2em
	border-radius 0.3em
	border 1px solid white
	font-size 0.7em!important
	color black
	opacity 0.7
	cursor pointer
	
.activityDiagram-view .item:hover
	opacity 1

.activityDiagram-view .item.select
	background-color #ccc
	
.activityDiagram-view .item.create
	background-color #90FF90

.activityDiagram-view .item.read
	background-color #93B7FF

.activityDiagram-view .item.update
	background-color #FFFF92

.activityDiagram-view .item.delete
	background-color #F77878
	
.activityDiagram-view .item.start
	background-color black
	color white

.activityDiagram-view svg
	float left
	width 80%
	height 100%
	display block
	
.activityDiagram-view svg START
	fill black
	
.activityDiagram-view .selector
	fill transparent
	rx 3
	
.activityDiagram-view .selected .selector
	fill rgba(255, 0, 210, 0.42)
	
.activityDiagram-view .action 
	rx 20
	stroke  black
	stroke-width 1.5
	
.activityDiagram-view .CREATE .action
	fill #90FF90

.activityDiagram-view .READ .action
	fill #93B7FF

.activityDiagram-view .UPDATE .action
	fill #FFFF92

.activityDiagram-view .DELETE .action
	fill #F77878
	
.activityDiagram-view text
	font-size 12px
	text-anchor middle

.activityDiagram-view tspan:last-child
	font-weight bold
	
.activityDiagram-view line
	stroke black
	stroke-width 2