.classDiagram-view
   height 100%

.enumeration-svg rect
	stroke black
	stroke-width 2
	fill #8CFF96
	
.enumeration-svg text
	font-size 12px
	
.svg-menu .add-class
	background-image url(/img/diagrams/add_class.png)
	
.svg-menu .add-enumeration
	background-image url(/img/diagrams/add_enumeration.png)