#app
  background-color white
  margin-left $sidebar
  width $app
  height 100%
  top 0px
  left 0px
  position fixed
  z-index 106

#app>i
  position absolute
  padding 3px 5px
  color rgb(32, 89, 163)
  background-color white
  border 1px solid
  bottom 0px
  left -1px
  opacity .7
  padding-top 4px

#app>i:hover
  opacity 1
  
h1.loading
  margin 1em
  color white