fieldset 
	background-color #f5f5f5
	border 1px solid #e3e3e3
	border-radius 4px
	text-align center
	padding 20px


legend 
	text-align left
	font-size 24px
	font-weight bold


form 
	text-align center
	margin 10px


fieldset > p 
	margin 0px
	font-size 16px
	text-align left


div.field>label 
	width 30%
	text-align right
	display inline-block


div.field 
	margin 10px
	text-align left


div.field input,textarea,select
	padding 6px 12px
	font-size 14px
	line-height 1.428571429
	color #555555
	vertical-align middle
	background-color #ffffff
	background-image none
	border 1px solid #cccccc
	border-radius 4px

div.field input:focus,textarea:focus,select:focus    
	border: 1px solid #0064FA; 
	border: 1px solid #6EA7FC; 
	box-shadow: 0px 0px 7px #6ea7fc; 

div.field .small
	width 10%
	
div.field .medium
	width 20%
	
div.field .large
	width 40%


div.field .disable
	background-color rgb(226, 223, 223)
