.multimedia-view
	margin-top 5px
	text-align left
	background-color white
	padding 0.3em
	border-radius 5px
	border 1px solid #ccc
	
.multimedia-view i
	font-size: 1.6em
	vertical-align top	
	max-width 5%
	
.mettings-view .collection
	margin-top 2em

i.primary
	color: #006dcc

i.warning
	color: #faa732
	
i.danger
	color: #da4f49
	
i.success
	color: #5bb75b
	
.multimedia-view .btn 
	float right	
	margin-left 0.5em
	max-width 20%
	
.multimedia-view div 
	display inline-block
	padding-left 0.5em
	font-size 0.8em
	max-width 55%
