.participants-view table
	width 100%
	margin-top 2em
	
.participants-view th
	border-top 2px solid gray
	border-bottom 2px solid gray
	padding 7px
	
.participant-view 
	border-bottom 1px solid #ccc
	padding 3px

.participant-view img
	max-height 32px
	border-radius 50%
	
.participant-view .email
	font-size 0.7em
	
.participant-view td
	padding 7px
