.tooltip 
	position relative


.tooltip:hover:after,.tooltip:focus:after 
	top 0px
	content attr(data-tooltip)
	position absolute
	background rgba(0,0,0,0.7)
	border-radius 5px
	color #FFF
	font-size 12px
	padding 5px 15px
	text-align center
	text-shadow 1px 1px 1px #000
	right -195px
	width 150px


.tooltip:hover:before,.tooltip:focus:before 
	content ""
	top 50%
	right -15px
	margin-top -4px
	border-top 6px solid transparent
	border-bottom 6px solid transparent
	border-right 12px solid rgba(0,0,0,0.7)
	position absolute 
	width 0
	height 0

.help
	background-color #0064FA
	width 20px
	display inline-block
	text-align center
	border-radius 12px
	border 2px solid #AAA7A7
	color white
	font-size 16px
	cursor pointer

