.useCase-view
   height 100%

.svg-menu
   background: #252525;

.svg-menu a
   color white
   text-decoration none
   font-size .8em
   text-transform capitalize
   padding 1em .5em
   box-sizing border-box
   display inline-block
   
.svg-menu a:hover
   background #eee
   color #252525