.useCase-view
	height 100%

.svg-menu
	position absolute
	right 0px
	top 0px
	width 48px
	height 100%
	background-color darkgray
	border-left: 1px solid black;
	border-right: 1px solid black;

.svg-menu a
	display block
	width 40px
	height 40 px
	margin-top 1em
	background-size cover
	margin-left auto
	margin-right auto

.svg-menu .add-actor
	background-image url(/img/diagrams/add_actor.png)
	
.svg-menu .add-use-case
	background-image url(/img/diagrams/add_use_case.png)
	
.use-case-svg ellipse
	stroke black
	stroke-width 2
	fill white
	
.select-use-case .use-case-svg ellipse
	stroke green
	
.use-case-svg text
	text-anchor middle
	font-size 12px
	
.use-case-svg image, .select-actor .use-case-svg:hover image, .select-use-case .use-case-svg:hover image
	display none
	cursor pointer
	
.use-case-svg:hover image
	display block
	
.use-case-svg rect
	fill white
	
.actor-svg circle
	fill white
	stroke black
	stroke-width 2
	
.actor-svg line
	stroke black
	stroke-width 2
	
.actor-svg rect
	fill white
	
.actor-svg text
	text-anchor middle
	font-size 12px
	
.actor-svg image, .select-actor .actor-svg:hover image,.select-use-case .actor-svg:hover image
	cursor pointer
	display none
	
.actor-svg:hover image
	display block
	
.select-actor .actor-svg line,.select-actor .actor-svg circle
	stroke green

.select-actor .actor-svg, .select-use-case .use-case-svg
	cursor pointer
	
.use-case-association line
	stroke black
	stroke-width 2
	
.use-case-association:hover line
	stroke red
	stroke-width 4
	
.use-case-association text
	text-anchor middle
	font-size 12px
	display none
	fill red
	
.use-case-association:hover text
	display block