<!DOCTYPE html>
<html>
<head>
	<title>MDDCloud</title>
	<meta charset="utf-8"/>
	<meta name="description" content="MDDCloud, a framework MDD on the cloud for generation of bussiness web application from software requirements"/>
	<meta name="keywords" content="mdd,cloud,development,applications,requirements,mddcloud,business application"/>
	<meta name="author" content="Sergio Andrés Ñustes,Jorge Luis Hurtado"/>   
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">  
	<link rel="stylesheet" href="/css/mddcloud.css" type="text/css"/>   	
</head>
<body>
	<h1>Loading...</h1>
</body>

<script src="/js/mddcloud.js"></script>
</html>

